body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: black;
    color: white;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#additionalFields div {
    display: flex;
    margin-top: 10px;
}

#additionalFields input {
    width: 45%;
    margin-right: 10px;
}

#additionalFields button {
    width: 10%;
}
